* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h5, h6, p, ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Lato, sans-serif;
}

header {
}

.header_wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    align-items: center;
}

.logo {
    width: 20%;
}

nav {
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

nav ul li {
    list-style: none;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(65, 79, 105);
    font-weight: 700;
}

.banner_container {
}

.banner {
    background-image: url("../images/banner-bg.png");
    width: 100vw;
    height: 100vh;
    position: relative;
}

.banner_content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner_content h1 {
    font-size: 120px;
    color: rgb(255, 255, 255);
    padding-top: 100px;
    font-weight: 500;
}

.banner_content span {
    display: block;
    background: rgb(21, 164, 250);
    height: 2px;
    width: 606px;
    margin: 10px;
}

.banner_content span a {
}

.banner_content p {
    color: rgb(255, 255, 255);
    margin: 25px;
    font-size: 20px;
    padding-bottom: 30px;
}

.banner_content button {
    padding: 15px 30px;
    background: none;
    border: 1px solid rgb(21, 164, 250);
    border-radius: 5px;
    margin-bottom: 100px;
    opacity: 1;
    cursor: pointer;
}

.banner_content button:hover {
    background: rgb(21, 164, 250);
    color: rgb(255, 255, 255);
}

.banner_content button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.banner_content i {
    font-size: 22px;
    color: rgb(255, 255, 255);
    display: block;
    margin-top: 50px;
}

.short_view {
    background-color: rgb(246, 249, 249);
}

.view_wrapper {
    text-align: center;
    padding: 50px;
    margin: auto;
    width: 80%;
}

.short_view h1 {
    font-size: 40px;
    color: rgb(45, 57, 80);
    font-weight: 400;
}

.short_view p {
    color: rgb(153, 153, 153);
    margin: auto;
    font-size: 20px;
    padding: 20px;
    font-weight: 400;
    line-height: 30px;
}

.cotent {
    width: 80%;
    margin: auto;
}

.cpntent_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.content_item {
    text-align: center;
    width: 30%;
}

.content_item img {
}

.content_item h5 {
    font-size: 22px;
    color: rgb(45, 57, 80);
    padding: 15px;
    font-weight: 500;
}

.content_item p {
    color: rgb(153, 153, 153);
    font-size: 15px;
}
